<!DOCTYPE html>
<html ng-app>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/reset-css.css' />
        <link rel='stylesheet' href='/stylesheets/admin.css' />
        <link rel='stylesheet' type="text/css" href='/javascripts/bootstrap/css/bootstrap.min.css'>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src='/javascripts/admin/about_management.js'></script>
        <script src='/javascripts/admin/edit_about.js'></script>
    </head>
    <body>
        <header>
            <div id='logo'>Logo</div>
            <div id='title'></div>
            <div style='clear:both;'/>
        </header>

        <aside>
            <a href='/user_management'>
                <div class="menu_item">Управление пользователями</div>
            </a>
            <a href='/pro'>            
                <div class="menu_item">Проекты</div>
            </a>
            <a href='/about_management'>
                <div class="menu_item" id="selected_item">О нас</div>
            </a>
            <a href='/user_management'>
                <div class="menu_item">Вид сайта</div>
            </a>
            <a href='/user_management'>
                <div class="menu_item">Обратная связь</div>
            </a>
            <a href='/user_management'>
                <div class="menu_item">Цены</div>
            </a>
            
            <div id="footer"></div>
        </aside>
        
        <main>            
            <div class='info' id="text_edit" onclick='edit()'><%= about_info.description %></div> 
        </main>
        
        <div style='clear:both;'/>
    </body>
</html>