<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/reset-css.css' />
        <link rel='stylesheet' href='/stylesheets/admin.css' />
        <link rel='stylesheet' type="text/css" href='/javascripts/bootstrap/css/bootstrap.min.css'>
    </head>
    <body>
        <header>
            <div id='logo'>Logo</div>
            <div id='title'><%= title %></div>
            <div style='clear:both;'/>
        </header>
        <%- include ../layouts/navigation.ejs %>
    </body>
</html>
