
<aside>
    <a href='/user_management'>
        <div class="menu_item">Управление пользователями</div>
    </a>
    <a href='#'>            
        <div class="menu_item">Проекты</div>
    </a>
    <a href='#'>
        <div class="menu_item">О нас</div>
    </a>
    <a href='/view/custom'>
        <div class="menu_item">Вид сайта</div>
    </a>
    <a href='#'>
        <div class="menu_item">Обратная связь</div>
    </a>
    <a href='#'>
        <div class="menu_item">Цены</div>
    </a>

    <div id="footer"></div>
</aside>
