<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset-css.css' />
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <link rel='stylesheet' type="text/css" href='/javascripts/bootstrap/css/bootstrap.min.css'>
  </head>
  <body>
    <script src="/javascripts/angular/angular.min.js" ></script>
    <aside>
        <table id ="nav">
            <td id="logo">
                <a link="#">
                    <div id='logoName'>Logo</div>
                </a>
            </td>
            <td>
                <a href="#">
                   <div class="link">Все проекты</div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="link">Было/стало</div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="link">Текущие проекты </div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="link">Header </div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="link">Пользователи</div>
                </a>
                
            </td>
        </table>
    </aside>
    <main>
       <p> {{2+2}} </p>
    </main>
  </body>
</html>
