<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/admin.css' />
        <link rel='stylesheet' href='/stylesheets/reset-css.css' />
    </head>
    <body>
        <main id="main">
            <div id="blockForForm">
                <div class="titleForm"> Administration </div>
                <section id="formBlock">
                      <form id="form" method="post" action="/admin"> 
                        <div class="inputBlock">
                            <label>
                                Логин:<br>
                                <input type="text" placeholder="Введите Ваш логин">
                            </label>
                        </div>
                        <div class="inputBlock">
                            <label>
                                Пароль:<br>
                                <input type="password" placeholder="Введите Ваш пароль">
                            </label>
                        </div>
                        <div class="inputBlock">
                            <input id="submit" type="submit">        
                        </div>
                    </form>
                </section>
            </div>
        </main>
    </body>
</html>
