<!DOCTYPE html>
<html ng-app>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/reset-css.css' />
        <link rel='stylesheet' href='/stylesheets/admin.css' />
        <link rel='stylesheet' type="text/css" href='/javascripts/bootstrap/css/bootstrap.min.css'>
    </head>
    <body>
        
        <header>
            <div id='logo'>Logo</div>
            <div id='title'>Главная</div>
            <div style='clear:both;'/>
        </header>

        <aside>
            <a href='/user_management'>
                <div class="menu_item">Управление пользователями</div>
            </a>
            <a href='#'>            
                <div class="menu_item">Проекты</div>
            </a>
            <a href='#'>
                <div class="menu_item">О нас</div>
            </a>
            <a href='#'>
                <div class="menu_item">Вид сайта</div>
            </a>
            <a href='#'>
                <div class="menu_item">Обратная связь</div>
            </a>
            <a href='#'>
                <div class="menu_item">Цены</div>
            </a>
            
            <div id="footer"></footer>
        </aside>
        
        <main>
        </main>
        
        <div style='clear:both;'/>
    </body>
</html>
