<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset-css.css' />
    <link rel='stylesheet' href='/stylesheets/admin.css' />
  </head>
  <body>
    <aside>
        <table id ="nav">
            <td id="logo">
                <a link="#">
                    <div id='logoName'>Logo</div>
                </a>
            </td>
            <td>
                <a href="#">
                   <div class="link">Все проекты</div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="link">Было/стало</div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="link">Текущие проекты </div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="link">Header </div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="link">Пользователи</div>
                </a>
                
            </td>
        </table>
    </aside>
  </body>
</html>
