<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset-css.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    asdasdasdass
  </body>
</html>
