<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <title><%= title %></title>
        <script src= "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/reset-css.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/animation.js"></script>
    </head>
    <body>   
        <header>
		<!--	<div class="overlay"></div> -->
            
                <button class="navbar-toggle" data-toggle="collapse" data-target="#main-nav" aria-expanded="true">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
           
            
            
            <div class="header">
                
            </div>
            
            <div class="navigation">
                <div class="container">
                    <nav>
                        <ul class="menu">
                            <li class="item"><span class="selected">ГЛАВНАЯ</span></li>
                            <li class="item"><span>ПРОЕКТЫ</span></li>
                            <li class="item"><span>ЦЕНЫ</span></li>
                            <li class="item"><span>ДОГОВОРЫ</span></li>
                            <li class="item"><span>КОНТАКТЫ</span></li>
                        </ul>
                    </nav>
                </div>
            </div>
                
            <div class="aboutUs">
                <div class="title"><span>О нас</span></div>
                <div class="information">
                    <div> Мы дизайнерская фирма делаем отличные интерьеры бла бла 
бла соотношение цена качачества бла бла бла Мы 
дизайнерская фирмаделаем отличные интерьеры бла бла 
бла соотношение цена качачества бла бла бла Мы дизайнерская 
фирма делаем отличные интерьеры бла бла бла соотношение 
цена качачества бла бла бла Мы дизайнерская фирма делаем
отличные интерьеры бла бла бла оотношение цена качачества
бла бла бла Мы дизайнерская фирма </div>
                </div>
            </div>
            
            <div class="bottom">
				<a href="#scroll">
					<img src="/images/design/bottom.svg">
				</a>
            </div>
        </header>
		
        <main>
            <div class="title" id='scroll'>
                <div class="line line1"></div>
				<div class="line line2"></div>
                <div class="text">Наши проекты</div>
            </div>
            
            <section class="gallery">
                <div class="left" id="firstPhoto">
					<div class='projectTitle'> Особняк </div>
					<div class="animation"></div>
				</div>
                <div class="left hide" id="secondPhoto">
					<div class='projectTitle'> <span>Особняк</span>  </div>
					<div class="animation"></div>
				</div>
                  <div class="right" id="secondPhoto">
					<div class='projectTitle'> <span>Особняк</span>  </div>
					<div class="animation"></div>
				</div>
                  <div class="left" id="secondPhoto">
					<div class='projectTitle'> <span>Особняк</span>  </div>
					<div class="animation"></div>
				</div>
                <div class="right" id="anotherPhoto">
					<div class="leftRec" id="firstPhoto"> </div>
					<div class="leftRec" id="secondPhoto"> </div>
					<div class="rightRec" id="thirdPhoto"> </div>
					<div class="rightRec" id="thirdPhoto"> </div>
				</div>
                <div class="left hide" id="thirdPhoto"> 
					<div class='projectTitle'> Особняк </div>
					<div class="animation"></div>
				</div>
            </section>
			
			<div class="title" >
				<div class="line line1"></div>
				<div class="line line2"></div>
				<div class="text">Мы работаем</div>
			</div>
            
			<section class="abs">
				<div class="chip">
					<div class='iconAbs'>
						<div id='image1'>
							<div><img src='/images/design/ru.svg'></div>
							<div class="textImage">Дешево</div>
						</div>
						<div id='image2'>
							<div><img src='/images/design/nice.svg'></div>
							<div class="textImage">Надежно</div>
						</div>
						<div id='image3'>
							<div><img src='/images/design/creative.svg'></div>
							<div class="textImage">Креативно</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="social">
				<div class="dark"></div>
				<div class="parallax">
					<div class="socialMargin">
						<a href='www.facebook.com'><div id='facebook'></div></a>
						<a href='www.vk.com'><div id='vk'></div></a>
						<a href='www.twitter.com'><div id='twitter'></div></a>
					</div>
				</div>
			</section>
        </main>
	
		
		<footer>
			<div class="titleFooter" >
				<div class="line line1"></div>
				<div class="line line2"></div>
				<div class="textFooter">Мы всегда поддерживаем связь с клиентом</div>
			</div>
			<div style="float:left"> 
				<form>
					<input type="text"/>
					<input type="text"/>
					<textarea> </textarea>
					<input id="button" type="submit"></input>
				</form>
			</div>

			<div style="float:left">			
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6039.955660062322!2d-73.94616808836957!3d40.806480967146356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xb4255a4c34b11c95!2z0J_QsNGA0Log0JzQsNGA0LrRg9GBINCT0LDRgNCy0Lg!5e0!3m2!1sru!2sru!4v1427658698473" width="600" height="450" frameborder="0" style="border:0"></iframe>

			</div>
		</footer>
    </body>
</html>
