<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <script src= "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/reset-css.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/animation.js"></script>
    </head>
    <body>   
        <header>
		<!--	<div class="overlay"></div> -->
            <div class="header">
                
            </div>
            <div class="navigation">
                <div class="container">
                    <nav>
                        <ul class="menu">
                            <li class="item"><span class="selected">ГЛАВНАЯ</span></li>
                            <li class="item"><span>ПРОЕКТЫ</span></li>
                            <li class="item"><span>ЦЕНЫ</span></li>
                            <li class="item"><span>ДОГОВОРЫ</span></li>
                            <li class="item"><span>КОНТАКТЫ</span></li>
                        </ul>
                    </nav>
                </div>
            </div>
                
            <div class="aboutUs">
                <div class="title"><span>О нас</span></div>
                <div class="information">
                    <div> Мы дизайнерская фирма делаем отличные интерьеры бла бла 
бла соотношение цена качачества бла бла бла Мы 
дизайнерская фирмаделаем отличные интерьеры бла бла 
бла соотношение цена качачества бла бла бла Мы дизайнерская 
фирма делаем отличные интерьеры бла бла бла соотношение 
цена качачества бла бла бла Мы дизайнерская фирма делаем
отличные интерьеры бла бла бла оотношение цена качачества
бла бла бла Мы дизайнерская фирма </div>
                </div>
            </div>
            
            <div class="bottom">
				<a href="#scroll">
					<img src="/images/design/bottom.svg">
				</a>
            </div>

			
			
        </header>
        <main>
            <div class="title" id='scroll'>
                <div class="line line1"></div>
				<div class="line line2"></div>
                <div class="text">Наши проекты</div>
            </div>
            
            <section class="gallery">
                <div class="left" id="firstPhoto">
					<div class='projectTitle'> Особняк </div>
					<div class="animation"></div>
				</div>
                <div class="left" id="secondPhoto">
					<div class='projectTitle'> <span>Особняк</span>  </div>
					<div class="animation"></div>
				</div>
                <div class="right" id="anotherPhoto">
					<div class="leftRec" id="firstPhoto"> </div>
					<div class="leftRec" id="secondPhoto"> </div>
					<div class="rightRec" id="thirdPhoto"> </div>
					<div class="rightRec" id="thirdPhoto"> </div>
				</div>
                <div class="right" id="thirdPhoto"> 
					<div class='projectTitle'> Особняк </div>
					<div class="animation"></div>
				</div>
            </section>
			
			<div class="title" >
				<div class="line line1"></div>
				<div class="line line2"></div>
				<div class="text">Мы работаем</div>
			</div>
            
			
			<section class="abs">
				<div class="chip">
					<div style='width: 788px;margin: 0 auto;'>
						<img src='/images/design/ru.svg'>
						<img src='/images/design/nice.svg'>
						<img src='/images/design/creative.svg'>
					</div>
					<div class='absText'>
						<span>Дешево</span>
						<span>Надежно</span>
						<span>Креативно</span>
					</div>
				</div>
			</section>
        </main>
    </body>
</html>
