<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <script src= "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/reset-css.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>   
        <header>
            <div class="header">
                
            </div>
            <div class="navigation">
                <div class="container">
                    <nav>
                        <ul class="menu">
                            <li class="item"><span class="selected">ГЛАВНАЯ</span></li>
                            <li class="item"><span>ПРОЕКТЫ</span></li>
                            <li class="item"><span>ЦЕНЫ</span></li>
                            <li class="item"><span>ДОГОВОРЫ</span></li>
                            <li class="item"><span>КОНТАКТЫ</span></li>
                        </ul>
                    </nav>
                </div>
            </div>
                
            <div class="aboutUs">
                <div class="title"><span>О нас</span></div>
                <div class="information"></div>
            </div>
        </header>
    </body>
</html>
