<!DOCTYPE html>
<html ng-app>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/reset-css.css' />
        <link rel='stylesheet' href='/stylesheets/admin.css' />
        <link rel='stylesheet' type="text/css" href='/javascripts/bootstrap/css/bootstrap.min.css'>
    </head>
    <body>
        <script src="/javascripts/admin/user_management.js"></script>
        <header>
            <div id='logo'>Logo</div>
            <div id='title'>Админка</div>
            <div style='clear:both;'/>
        </header>

        <aside>
            <a href='/user_management'>
                <div class="backgr_selected">
                    <div class="menu_item" id="selected_item">Управление пользователями</div>
                </div>
            </a>
            <a href='/pro'>            
                <div class="menu_item">Проекты</div>
            </a>
            <a href='/user_management'>
                <div class="menu_item">О нас</div>
            </a>
            <a href='/user_management'>
                <div class="menu_item">Вид сайта</div>
            </a>
            <a href='/user_management'>
                <div class="menu_item">Обратная связь</div>
            </a>
            <a href='/user_management'>
                <div class="menu_item">Цены</div>
            </a>
            
            <div id="footer"></div>
        </aside>
        
        <main>
            <table>
                <tr>
                    <th>Имя</th>
                    <th>Пароль</th>
                    <th>Действия</th>
                </tr>
                <% for(var i in data) { %>
                <tr>
                    <td><% data[i].user %></td>
                    <td><% data[i].password %></td>
                    <td><% data[i].id %></td>                    
                </tr>
                <% } %>
            </table>
        </main>
        
        <div style='clear:both;'/>
    </body>
</html>