@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

/*=====================админка==============*/
html, body {
    width: 100%;
    height: 100%;
}

header{
    position: fixed;
    width: 100%;
    height: 180px;
}

#logo, #title {
    position:relative;
    padding-top: 75px;
    font-size: 30px !important;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    z-index: 5;
}

#logo {
    float: left;
    width: 30%;
}

#title {
    border-bottom: 3px solid #559ad9;
    float: right;
    width: 70%;
}

aside {
    float: left;
    position: fixed;
    width: 30%;
    height: calc(100% - 180px);    
    top: 180px;
    background: #559ad9;
}

.menu_item, #selected_item, #logo {    
    color: white;
    font: 20px "Open Sans";
    font-weight: 400;
    background: #445;
    border-bottom: 1px solid white;
    transition: .5s;
}

.menu_item, #footer{
    float: right;
    padding: 23px 20px;
    width: 100%;
}

.menu_item:hover, #selected_item {
    width: 92%;
}

#footer{    
    background: #445;
    height: 100%;
}


/* MAIN BLOCk */
main {
    position: absolute;
    top: 180px;
    left: 30%;
    width: 70%;
}
main table {
    margin:10%;
    width:80%;
}
main th {
    padding: 15px;
    width: 30%;
    background: #445;
    text-align: center;
    vertical-align: middle;
    font: 15px Open Sans, Arial;
    color:white;
}