@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);

body{
overflow-x: hidden;	
}

html, body{
    height : 100%;
    width : 100%;
}

header{
    height: 100%;
    width: 100%;
    background: url(/images/main/header/head.jpg) no-repeat;
    background-size: cover;
}

/*.overlay{
	background: transparent url(/images/main/header/overlay-03.png);
	opacity: 0.5;
	z-index: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	top: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}*/

.header{
    width:100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.35);   
}

nav, nav ul{
    width: 494px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
}

nav ul li {
    float: left;   
    text-align: center;
    color: white;
    font-family: 'Roboto' sans-serif;
    font-weight: 300;
    padding: 0 17px;
    font-size: 13px;
}

nav ul li span{
    padding-bottom: 3px;   
}

nav ul li span:hover{
    border-bottom: 2px solid white;
}

.selected{
    border-bottom: 2px solid white;
}

#logo{
    width:300px;
    height: 100%;
    float: left;
}

.container{
    width: 800px;
    margin: 0 auto;
}   

.navigation{
    background: rgba(0,0,0,0.7);
    z-index: 100;
    position: fixed;
    width: 100%;
	z-index: 500;
}   

.aboutUs{
    position: absolute;
    top: 15px;
    bottom: 0;
    right: 68px;
    margin: auto; 
    min-width: 437px; 
    max-height: 100%;
    height: 42%;
    background: rgba(0,0,0,0.65);
    width: 42%;
    min-height: 320px
}

.aboutUs div{
    width: 100%;
}

.title{
    height: 60px;
    color: white;
    font-family: 'Roboto' sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height:70px;
    border-bottom: 1px solid white; 
}

.aboutUs hr{
    width: 100%;
}

.aboutUs span{
    padding-left: 40px;
}

.information div{
    margin-left: 40px;
    font-family: 'Roboto' sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin-top: 40px;
    width: 85%;
    height: 100%;
    color: white;
    line-height: 20px;   
}

.bottom{
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 70px;
    right: 0;
    left: 0;
    margin: auto; 
}

.bottom img:hover{
	background: rgba(0,0,0,0.5);
}

main .title{
	width: 432px;
	height: 125px;
	color: #7e7e7e;
	font-size: 28px;
	font-weight: 300;
	margin: 0 auto;
	position: relative;
}

.text{
	width: 200px;
	margin: 0 auto;
	line-height: 125px;
	text-align: center;
}

.line{
	width: 100px;
	height: 3px;
	background: rgba(41,171,226, 1);
	position: absolute;
	top: 63px;
}

.line1{
	left: 0;
}

.line2{
	right: 0;
}

.gallery{
    width: 100%;
    height: 600px;
}

.gallery .left{
    width: 50%;
    height: 300px;
	float: left;
}

.gallery .right{
    width: 50%;
    height: 300px;
	float: right;
}

#firstPhoto{
	background: url(/images/main/header/head.jpg) no-repeat;
	background-size: cover;
}

#secondPhoto{
	background: url(/images/main/header/head0.jpg) no-repeat;
	background-size: cover;
}

#thirdPhoto{
	background: url(/images/main/header/head1.jpg) no-repeat;
	background-size: cover;
}

#anotherPhoto div{
	height: 150px;
	width: 50%;
}

.leftRec{
	float: left;
	width: 50%;
}

.rightRec{
	float: right;
	width: 50%;
}

.animation{
	background: rgba(41,171,226, 0.9);
	width: 100%;
	height: 100%;
}

.projectTitle{
	position: absolute;
	height: 50px;
	width: 150px;
	color: white;
	line-height: 50px;
	text-align: center;
	background: rgba(0,0,0,0.6);
	font-family: 'Roboto' sans-serif;
    font-weight: 100;
	font-size: 13px;
}

.abs{
	width: 100%;
	height: 210px;
	padding-top:10px;
}

.chip img{
	height: 100px;
	width: 100px;
	padding-left: 80px;
	padding-right: 80px;
}

.chip > div > div{
	float: left;
	text-align: center;
	font-family: 'Roboto' sans-serif;
	font-weight: 300;
	font-size: 23px;
}

.dark {
	position: absolute;
	height: 300px;
	width: 100%;
	z-index: 100;
	background: rgba(0,0,0,0.5);
}

.textImage{
	padding-top: 20px;
}

.social{
	width: 100%;
	height: 300px;
}


.parallax{
	width: 100%;
	height: 300px;
	background: url('/images/main/header/head.jpg')50% 0% repeat-y fixed;
	background-size: 100%;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	-webkit-background-size: cover !important;
	-khtml-background-size: cover !important;
}

.socialMargin a {
	display: block;
	float: left;
	margin: 0px 76px;
	position: relative;
	border-radius: 50%;
	z-index: 200;
	border: 4px solid transparent;
}

.socialMargin a:hover{
	background: white;
	border: 4px solid white;
}



.socialMargin{
	width: 788px;
	margin: 0 auto;
	height: 100px;
	padding: 100px 0;
}


#facebook{
	background: url('/images/design/facebook.svg');
	width: 100px;
	height: 100px;
}

#vk{
	background: url('/images/design/vk.svg');
	width: 100px;
	height: 100px;
}

#twitter{
	background: url('/images/design/twitter.svg');
	width: 100px;
	height: 100px;
}


footer{
	width: 100%;
	height: 600px;
	background: rgb(27,27,27);
}

footer .titleFooter{
	width: 705px;
	height: 125px;
	color: #7e7e7e;
	font-size: 28px;
	font-weight: 300;
	margin: 0 auto;
	position: relative;
	font-family: 'Roboto' sans-serif;
    font-weight: 100;
}

.textFooter{
	text-align: center;
	width: 500px;
	margin: 0 auto;
	padding-top: 40px;
}

form{
	width: 441px;
	height: 296px;
	position: relative;
	top: 83px;
	left:58px;
}

form input{
	width: 160px;
	background: rgba(0,0,0, 0.3);
	border: 1px solid rgb(126, 126, 119);
	float: left;
	margin-left: 26px;
	padding: 14px 14px;
	border-radius: 2px;
}

form textarea{
	width: 400px;
	border: 1px solid rgb(126, 126, 119);
	height: 165px;
	margin-left: 26px;
	margin-top: 8px;
	background: rgba(0,0,0, 0.3);
	resize: none;
}

#button{
	margin-left: 26px;
	margin-top: 8px;
	width: 406px;
	color: white;
	background: rgba(41,171,226, 0.6);

}