@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);

html, body{
    height : 100%;
    width : 100%;
}

header{
    height: 100%;
    width: 100%;
    background: url(/images/main/header/head.jpg) no-repeat;
    background-size: cover;
}

.header{
    width:100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.35);   
}

nav, nav ul{
    width: 494px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
}

nav ul li {
    float: left;   
    text-align: center;
    color: white;
    font-family: 'Roboto' sans-serif;
    font-weight: 300;
    padding: 0 17px;
    font-size: 13px;
}

nav ul li span{
    padding-bottom: 3px;   
}

nav ul li span:hover{
    border-bottom: 2px solid white;
}

.selected{
    border-bottom: 2px solid white;
}

#logo{
    width:300px;
    height: 100%;
    float: left;
}

.container{
    width: 800px;
    margin: 0 auto;
}   

.navigation{
    background: rgba(0,0,0,0.7);
    z-index: 100;
    position: fixed;
    width: 100%;
}   

.aboutUs{
  position: absolute;
  top: 15px;
  bottom: 0;
  right: 68px;
  margin: auto; 
  min-width: 437px; 
  max-height: 100%;
  height: 42%;
  background: rgba(0,0,0,0.65);
  width: 42%;
}

.aboutUs div{
    width: 100%;
}

.title{
    height: 60px;
    color: white;
    font-family: 'Roboto' sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height:70px;
    border-bottom: 1px solid white; 
}

.aboutUs hr{
    width: 100%;
}

.aboutUs span{
    padding-left: 40px;
}